###Sample Config File
##SenseGram model config values.
[MODEL]
#Should end in .sense_vectors
SENSE_VECTOR_PATH=/path/to/sense_vectors
#Should end in .word_vectors
WORD_VECTOR_PATH=/path/to/word_vectors
#Should the model ignore case
IGNORE_CASE=True
#Max context words to use
CONTEXT_WORDS_MAX=5
#Max window size to use around words
CONTEXT_WINDOW_SIZE=5
#Model language. Don't change for now.
LANG=en
#Verbosity of disambiguation calls to the model. Only use for debugging.
VERBOSE=False

##SQL set-up.
[MYSQL]
HOST=localhost
PORT=3306
USER=root
PASSWORD=password
DB_NAME=db_name
TABLE_NAME=table_name

##Right now only used for processExcel. Specify where to output files.
[MISC]
OUT_PATH=/path/to/output/generated/files/